#ventanaNavegador {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#contenidoNavegador {
    background-color: white;
    border-radius: 8px;
    height: 80%;
    width: 80%;
    margin: 5% auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#buscadorPlay {
    width: 50%;
    min-width: 225px;
}
#buscadorReproductor {
    height: 85%;
}