#contenidoNavegador {
    background-color: white;
    border-radius: 8px;
    height: 80%;
    width: 80%;
    margin: 5% auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#buscadorPlay {width: 75%;min-width: 225px;}
#buscadorReproductor {height: 85%;margin-top: 10px;}