#reproduccion {
    width: 1000px;
    border: 1px solid black;
}
audio {width: 100%;}

#div_btn {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
button.btn_musica {
    height: 42px;
    width: 425px;
    
    background-color: white;

    cursor: pointer;
}
button.btn_musica:hover {background-color: rgb(245, 245, 245);}
button.btn_musica_black {
    height: 42px;
    width: 425px;
    
    background-color: black;
    color: white;
}
button.btn_musica2 {
    padding: 5px;
    width: 425px;
    
    background-color: white;

    cursor: pointer;
}
button.btn_musica2:hover {background-color: rgb(245, 245, 245);}
#btn_SiguienteBucle {display: none;}