#btnLista {
    display: none;
}

#div_ocultar {
    display: none;
}
#containerAudioLista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerBotonesLista {
    margin-top: 40px;
}
#btn_botonesLista {
    height: 105px;
    width: 1700px;
    border: 1px solid black;
}
#cambioCacnionLista {
    margin-top: 10px;
    text-align: center;
}
#paginacionLista {
    margin-top: 20px;
    text-align: center;
}
#div_paginaActualLista {
    width: 50px;

    display: inline-block;
    text-align: center;

    font-weight: bold;
    font-size: 100%;
}