#reproduccionLista {width: 1000px;border: 1px solid black;}

#div_btnLista {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
#btn_SiguienteBucleLista {display: none;}